@use 'assets/styles/colours' as *;

::ng-deep .mat-mdc-tab-body-wrapper {
  width: 96%;
  margin: auto;
}

::ng-deep .mat-mdc-tab.mat-mdc-tab-disabled {
  padding: 0;
  margin: 0;
  justify-content: left;
  color: $status-approved;
}
