.error {
  color: red;
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-content {
  min-width: 240px;
  width: 240px;
}
