@use '@angular/material' as mat;
@use 'sass:map';

@mixin dashboard-component-theme($theme) {
  $primary: map.get($theme, primary);

  mifosx-dashboard {
    .recent-activities,
    .frequent-activities {
      .header {
        background-color: mat.get-color-from-palette($primary, 500);
        color: mat.get-contrast-color-from-palette($primary, 500);
      }
    }

    mifosx-amount-collected-pie,
    mifosx-amount-disbursed-pie,
    mifosx-client-trends-bar {
      .card {
        .header {
          background-color: mat.get-color-from-palette($primary, 500);
          color: mat.get-contrast-color-from-palette($primary, 500);

          mat-label,
          .mat-mdc-select-value,
          .mat-mdc-select-arrow {
            color: mat.get-contrast-color-from-palette($primary, 500);
          }

          .mdc-line-ripple::before,
          .mdc-line-ripple::after {
            border-bottom-color: mat.get-contrast-color-from-palette($primary, 500);
          }
        }
      }
    }
  }
}
